body{
    margin: 0;
}


*{
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left{
    color: white;
    font-size: 10px;
    margin-left: 17px;
}

.header_right{
    display: flex;
    gap: 10px;
    color: white;
    margin-right: 15px;
}

.name{
    color: white;
    display: flex;
    align-items: center;
    font-size: 29px;
    margin-left: 15px;

}

.name h4{
    margin-left: 40px;

}

.content{
    margin-bottom: 150px;
    margin-top: 150px;
}

.footer{
    border-bottom: 10px solid white;
    margin: 0 auto;
    width: 20%;
    border-radius: 10px;
}