

*{
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left{
    color: aliceblue;
    font-size: 10px;
    margin-left: 17px;
}

.header_right{
    display: flex;
    gap: 7px;
    color: aliceblue;
    margin-right: 15px;
}

.name{
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 29px;
    margin-left: 15px;
    font-style: italic;
}

.name h4{
    margin-left: 40px;

}

.poster{
    margin-bottom: 150px;
    margin-top: 150px;
}

.end{
    border-bottom: 10px solid white;
    margin: 0 auto;
    width: 14%;
    border-radius: 8px;
}